/* The sidebar menu */

@media only screen and (max-width: 768px) {
  .leftsidenav {
    min-height: 798px;
    height: fit-content;
    max-width: 337px;
    width: 100%;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 27px;
  }
  .leftsidenav ul li {
    list-style: none;
    width: 100%;
    margin-left: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .leftsidenav a {
    font-family: euclid;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 44px;
    color: #606060;
    text-decoration: none;
  }

  /* The navigation menu links */

  .leftsidenav a:hover, .leftsidenav a:active, .leftsidenav a:visited {
    color: #000000;
    font-weight: 700;
  }

  .leftsidenav ul li.active {
    background-color: #f1f1f1;
  }
  .help_text {
    height: 30px;
    font-family: euclid;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.13em;
    color: #000000;
    padding-left: 40px;
  }
}

@media only screen and (min-width: 769px) {
  .leftsidenav {
    left: 0px;
    z-index: 1;
    top: 149px;
    width: 100%;
    display: flex;
    row-gap: 27px;
    position: fixed;
    max-width: 337px;
    overflow-y: auto;
    padding-top: 20px;
    overflow-x: hidden;
    background: #f5f5f5;
    flex-direction: column;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    max-height: calc(100vh - 9rem);
  }
  .leftsidenav ul li {
    list-style: none;
    width: 100%;
    padding-left: 30px;
    margin-left: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .leftsidenav a {
    font-family: euclid;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 44px;
    color: #606060;
    text-decoration: none;
  }

  /* The navigation menu links */
    .leftsidenav a:hover, .leftsidenav a:active {
    color: #000000;
    font-weight: 700;
  }

  .leftsidenav ul li:active {
    background-color: #f1f1f1;
  }
  .help_text {
    height: 30px;
    font-family: euclid;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.13em;
    color: #000000;
    padding-left: 40px;
  }
}
