.routes_container {
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  position: relative;
}

body {
  height: 100%;
}

html {
  background-color: var(--global-background);
  scroll-padding-top: 150px;
  scroll-behavior: smooth !important;
}

.dark_pages {
  background: #0d0d0d;
  color: #ddd !important;
  min-height: 100vh;
  height: 100%;
}

.dark_pages .head_,
.dark_pages .content_head {
  color: white;
}

.dark_pages .main .chakra-text {
  color: #ddd;
}

.dark_pages .main li {
  color: #ddd;
}

.light_pages {
  background-color: white;
  color: black;
  height: 100%;
}

.light_pages .head,
.light_pages .content_head {
  color: black;
}

.light_pages .publish {
  color: black;
}
.light_pages .chakra-text {
  color: black;
}

.light_pages .blog_text_content {
  width: 90%;
  margin: auto;
  max-width: 587px;
  margin: 0rem auto;
}

.hide_scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
