.routes_container {
  width: 100%;
  margin: 0 auto;
  /* background-color: #0d0d0d; */
  height: fit-content;
  position: relative;
  /* color: white; */
}

body,
html,
.main {
  /* background: #0d0d0d; */
}
.help_centre_pages {
  background: #0d0d0d;
  color: #ddd;
}
.help_centre_pages .head_,
.help_centre_pages .content_head {
  color: white;
}
.help_centre_pages .publish {
}

.blog_pages {
  background-color: white;
  color: black !important;
}

.blog_pages .head,
.blog_pages .content_head {
  color: black;
}

.blog_pages .publish {
  color: black;
}

.blog_pages .blog_text_content {
  width: 90%;
  margin: auto;
  max-width: 587px;
  margin: 0rem auto;
}

.hide_scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.chakra-text {
  /* color: white; */
}
