.routes_container {
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  position: relative;
}

body {
  height: 100%;
}

html {
  background-color: var(--global-background);
}

.help_centre_pages {
  background: #0d0d0d;
  color: #ddd !important;
}

.help_centre_pages .head_,
.help_centre_pages .content_head {
  color: white;
}

.help_centre_pages .main .chakra-text {
  color: #ddd;
}

.help_centre_pages .main li {
  color: #ddd;
}

.blog_pages {
  background-color: white;
  color: black;
}

.blog_pages .head,
.blog_pages .content_head {
  color: black;
}

.blog_pages .publish {
  color: black;
}
.blog_pages .chakra-text {
  color: black;
}

.blog_pages .blog_text_content {
  width: 90%;
  margin: auto;
  max-width: 587px;
  margin: 0rem auto;
}

.hide_scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
