.help_container {
  width: 100%;
  margin: 0 auto;
  background-color: #fbfcfc;
  height: fit-content;
  position: relative;
}
 
.hide_scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}