@media only screen and (max-width: 768px) {
  .main {
    max-width: 821px;
    width: 100%;
    padding: 70px 20px;
    position: relative;
    top: 50px;
  }

  .head_ {
    /* font-family: euclid; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* letter-spacing: 0.13em; */
    color: #000000;
    text-transform: uppercase;
  }

  .publish {
    /* font-family: euclid; */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #606060;
    padding-bottom: 40px;
  }

  .content_head {
    min-height: 30px;
    /* font-family: euclid; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.10em;
    color: #000000;
    padding-bottom: 5px;
    padding-top: 30px;
    text-transform: uppercase;
  }

  .content_subhead {
    min-height: 30px;
    /* font-family: euclid; */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0;
    color: #000000;
    padding-bottom: 5px;
    padding-top: 20px;
    text-transform: capitalize;
  }

  .content {
    max-width: 621px;
    /* font-family: euclid; */
    font-style: normal;
    font-weight: 00;
    font-size: 16px;
    line-height: 160%;
    color: #000;
  }

  /* The sidebar menu */
  .rightsidenav {
    overflow-y: scroll;
    height: 100%;
    max-width: 282px;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    padding-left: 30px;
    /* font-family: euclid; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #606060;
  }

  .rightsidenav Link:hover {
    color: #f1f1f1;
  }

  .article_text {
    /* font-family: euclid; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
  }

  ul.navigation_ li {
    position: relative;
    margin-bottom: 0;
    padding-left: 20px;
    padding-bottom: 2.5em;
    list-style: none;
  }

  ul.navigation_ li:after {
    /* bullets */
    content: url("../../assets/icons/bullet.png");
    position: absolute;
    left: 2px;
    /*adjust manually*/
    top: 0px;
  }

  ul.navigation_ li:before {
    /* lines */
    content: "";
    position: absolute;
    left: 4.5px;
    border-left: 1px solid blue;
    height: 100%;
    width: 1px;
  }

  ul.navigation_ li:first-child:before {
    /* first li's line */
    top: 8px;
    /* moves the line down so that it disappears under the bullet. Adjust manually */
  }

  ul.navigation_ li:last-child:before {
    /* last li's line */
    height: 8px;
    /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
  }

  ul.bluenav li {
    position: relative;
    margin-bottom: 0;
    padding-left: 20px;
    padding-bottom: 2.5em;
    list-style: none;
  }

  ul.bluenav li:after {
    /* bullets */
    content: url("../../assets/icons/bullet_active.png ");
    position: absolute;
    left: 2px;
    /*adjust manually*/
    top: 0px;
  }

  ul.bluenav li:before {
    /* lines */
    content: "";
    position: absolute;
    left: 4.5px;
    border-left: 1px solid blue;
    height: 100%;
    width: 1px;
  }

  ul.bluenav li:first-child:before {
    /* first li's line */
    top: 8px;
    /* moves the line down so that it disappears under the bullet. Adjust manually */
  }

  ul.bluenav li:last-child:before {
    /* last li's line */
    height: 8px;
    /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
  }
}

@media only screen and (min-width: 769px) {
  .main {
    max-width: 821px;
    width: 100%;
    margin-right: 282px;
    margin-left: 337px;
    padding: 70px 100px;
    margin: 0 auto;
    position: relative;
    top: 100px
  }

  .head_ {
    /* font-family: euclid; */
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.10em;
    color: #000000;
    padding-bottom: 15px;
    margin-top: 70px;
    text-transform: uppercase;
  }

  .publish {
    /* font-family: euclid; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #606060;
    padding-bottom: 40px;
  }

  .content_head {
    min-height: 30px;
    /* font-family: euclid; */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.10em;
    color: #000000;
    padding-bottom: 5px;
    padding-top: 30px;
    text-transform: uppercase;
  }

  .content_subhead {
    min-height: 30px;
    /* font-family: euclid; */
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0;
    color: #000000;
    padding-bottom: 5px;
    padding-top: 20px;
    text-transform: capitalize;
  }

  .content {
    max-width: 621px;
    /* font-family: euclid; */
    font-style: normal;
    font-weight: 00;
    font-size: 16px;
    line-height: 160%;
    color: #000;
  }

  /* The sidebar menu */
  .rightsidenav {
    overflow-y: scroll;
    min-height: 751px;
    height: 200px;
    max-width: 282px;
    width: 100%;
    position: fixed;
    /* top: 149px; */
    left: 0;
    overflow-x: hidden;
    padding-top: 82px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    padding-left: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
    /* font-family: euclid; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #606060;
  }

  .rightsidenav Link:hover {
    color: #f1f1f1;
  }

  .article_text {
    /* font-family: euclid; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
  }

  ul.navigation_ li {
    position: relative;
    margin-bottom: 0;
    padding-left: 20px;
    padding-bottom: 2.5em;
    list-style: none;
  }

  ul.navigation_ li:after {
    /* bullets */
    content: url("../../assets/icons/bullet.png");
    position: absolute;
    left: 2px;
    /*adjust manually*/
    top: 0px;
  }

  ul.navigation_ li:before {
    /* lines */
    content: "";
    position: absolute;
    left: 4.5px;
    border-left: 1px solid blue;
    height: 100%;
    width: 1px;
  }

  ul.navigation_ li:first-child:before {
    /* first li's line */
    top: 8px;
    /* moves the line down so that it disappears under the bullet. Adjust manually */
  }

  ul.navigation_ li:last-child:before {
    /* last li's line */
    height: 8px;
    /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
  }

  ul.bluenav li {
    position: relative;
    margin-bottom: 0;
    padding-left: 20px;
    padding-bottom: 2.5em;
    list-style: none;
  }

  ul.bluenav li:after {
    /* bullets */
    content: url("../../assets/icons/bullet_active.png ");
    position: absolute;
    left: 2px;
    /*adjust manually*/
    top: 0px;
  }

  ul.bluenav li:before {
    /* lines */
    content: "";
    position: absolute;
    left: 4.5px;
    border-left: 1px solid blue;
    height: 100%;
    width: 1px;
  }

  ul.bluenav li:first-child:before {
    /* first li's line */
    top: 8px;
    /* moves the line down so that it disappears under the bullet. Adjust manually */
  }

  ul.bluenav li:last-child:before {
    /* last li's line */
    height: 8px;
    /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
  }
}